/**
 * Shared stylesheet for all components. Note: Most components are styled using [styled components](https://www.styled-components.com).
 */

html, body {
  background-color: #eee;
  font: 14px/20px 'Helvetica', Arial, sans-serif;
}

body {
  padding-top: 75px;
  padding-bottom: 75px;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}