.masthead {
  font-size: 28px;
  line-height: 110%;
  margin-bottom: 30px;
  margin-top: 0;
  padding: 0;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: center;
}